<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/615bddce-43f7-473d-b0a6-c83e4dc4ba0b/resourceGroups/InternAppRG/providers/Microsoft.Web/sites/intern-api-alif</ResourceId>
    <ResourceGroup>InternAppRG</ResourceGroup>
    <ApiResourceId>/subscriptions/615bddce-43f7-473d-b0a6-c83e4dc4ba0b/resourceGroups/InternAppRG/providers/Microsoft.ApiManagement/service/InternAPI/apis/InternAPI-APIM</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://intern-api-alif.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>5256e9c0-49bf-445f-b2a0-4aba02533683</ProjectGuid>
    <MSDeployServiceURL>intern-api-alif.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>intern-api-alif</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$intern-api-alif</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>